/* Loader Styles */
#loader {
  position: fixed;
  inset: 0;
  background: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  font-family: 'Press Start 2P', sans-serif;
  visibility: visible; /* Make loader initially visible */
  opacity: 1; /* Initial opacity */
  transition: opacity 1s ease-out; /* Fade-out transition */
}

.wave-text {
  position: relative;
  font-size: 5rem;
  font-weight: bold;
  color: transparent;
  background: linear-gradient(90deg, var(--accent) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: 100% 50%;
  -webkit-background-clip: text; /* Safari */
  background-clip: text;
  animation: moveLine 2s ease-in-out infinite;
}

@keyframes moveLine {
  0% {
      background-position: 100% 50%;
  }
  50% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

/* Main Content */
#main-content {
  opacity: 0; /* Initially hidden */
  visibility: hidden; /* Initially hidden */
  transition: opacity 1s ease-in, visibility 0s 1s; /* Fade-in effect */
}

/* Hidden class for main content */
.hidden {
  display: none;
}